# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# Others
*.log
*.tmp
*.DS_Store
Thumbs.db
